<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/ab6e9cb896.js" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lessons</title>
    </head>
    <body>
        {% for lesson in lessons %}
        <h2>
            {{lesson}}
        </h2>
        {% endfor %}
    

    </body>
</html>